---
import projectsData from "../proyects.json";
import type { ProjectType } from "../types";
import Proyect from "./Proyect.astro";
---

<section class="mt-16">
  {projectsData.map((project: ProjectType) => <Proyect project={project} />)}
</section>
